@font-face{
	font-family: 'Arial Narrow';
	src: url('../fonts/ArialNarrow.eot#iefix') format('embedded-opentype'), 
		 url('../fonts/ArialNarrow.svg') format('truetype'), 
		 url('../fonts/ArialNarrow.ttf') format('truetype'), 
		 url('../fonts/ArialNarrow.woff') format('woff');
}
body{
	font-family: 'Arial Narrow';
	font-size: 17px;
}
header{
	background-color: #eff3f7;
	height: 120px;	
}
header div{
	width: 960px;
	margin:0 auto;
	line-height: 120px;
}
header div img{
	vertical-align: middle;
}
.social{
	width: 49px;
	height: 49px;
	float: right;
	margin:35px 0 0 20px;
}
.vk{
	background-image: url(../img/sprite.jpg);
	background-position: 262px 0;
}
.vk:hover{
	background-image: url(../img/sprite.jpg);
	background-position: 262px -54px;
	cursor: pointer;
}
.tw{
	background-image: url(../img/sprite.jpg);
	background-position: 191px 0;
}
.tw:hover{
	background-image: url(../img/sprite.jpg);
	background-position: 191px -54px;
	cursor: pointer;
}
.fb{
	background-image: url(../img/sprite.jpg);
	background-position: 120px 0;
}
.fb:hover{
	background-image: url(../img/sprite.jpg);
	background-position: 120px -54px;
	cursor: pointer;
}
.gh{
	background-image: url(../img/sprite.jpg);
	background-position: 49px 0;
}
.gh:hover{
	background-image: url(../img/sprite.jpg);
	background-position: 49px -54px;
	cursor: pointer;
}
.social a{
	display: block;
	height: 100%;
}
section{
	background-image: url(../img/bg.png);
	background-repeat: repeat; 
}
section div{
	width: 960px;
	margin: auto;
	padding: 40px 0 20px 0;
	overflow: auto;
}
nav{
	width: 250px;
	background-color: #eff3f7;
	border-radius: 5px;
	float: left;
	margin: 0 60px 0 0;

}
ul.menu{
	margin: 0;
	padding: 0;
}
ul.menu li{
	padding: 20px;
	color: #959aa8;
	border-bottom: 2px solid #eff3f7;
	font-size: 21px;
}
ul.menu li:hover{
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
	cursor: pointer;
}
ul.menu li.h-menu{
	background-color: #3ba8c0;
	border-radius: 3px 3px 0 0;
	font-size: 23px ;
	color: #fff ;
	cursor: default ;
	border-bottom: none ;
}
article{
	background-color: #eff3f7;
	border-radius: 3px;
	float: right;
	width: 650px;
	margin: 0 0 25px 0;
	
}
h1{
	font-size: 27px;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
	width: 210px;
	margin: 0;
	padding: 25px;
}
ul{
	list-style:none;
	margin: 30px 0;
}
ul.page li{
	padding: 0 0 25px 25px;
}
ul.page li:before{
	content: "";
	float: left;
	width: 60px;
	height: 50px;
	background: url(../img/sprite.jpg);
	margin: 0 10px 0 0;
	
}
ul.page li.case:before{
	background-position: 326px -59px;
}
ul.page li.hat:before{
	background-position: 451px -63px;
}
ul.page li.list:before{
	background-position: 391px -61px;
}
footer{
	background-color: #eff3f7;
	color: #4a545d;
	height: 75px;
	font-size: 13px;
	text-align: center;
	line-height: 75px;
}